.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    gap: 20px;
    height: 90vh;
}

#editor, #preview{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
}

#editor{
    min-height: 300px;
}
